<!DOCTYPE html>
<?xml version="1.0" encoding="UTF-8"?>
<html xsl:version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
  <head>
	  <title>Lee Calcote's Talks</title>
    <meta http-equiv="Cache-control" content="public">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" type="text/css" href="/talks/css/style.css">
    <link rel="shortcut icon" href="https://calcotestudios.com/favicon.ico" />
    <script type="text/javascript" language="javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>   
    <script type="text/javascript" language="javascript" src="/talks/scripts/talks.js"></script>
    <script type="text/javascript" language="javascript" src="/talks/scripts/background-img.js"></script>
  </head>